In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/casana.csv')

In [3]:
data["name"] = data['name'].drop_duplicates()
data.head()

,name,location,property_status,property_type,property_size,price,bedrooms,bathrooms,Pool,link
0,COMMERCIAL BUILDING FOR RENT - Oranjestad,Oranjestad,For Rent,NaN,NaN,"USD 5,618",NaN,NaN,NaN,https://www.casnan.com/listing/aruba/commercia...
1,Commercial property For Rent - Noord,Noord,For Rent,NaN,NaN,"USD 5,421",NaN,NaN,NaN,https://www.casnan.com/listing/aruba/commercia...
2,Commercial Space For Rent - Oranjestad,Oranjestad,For Rent,NaN,NaN,"USD 4,214",NaN,NaN,NaN,https://www.casnan.com/listing/aruba/commercia...
3,NaN,Oranjestad,For Rent,NaN,NaN,"USD 3,371",NaN,NaN,NaN,https://www.casnan.com/listing/aruba/commercia...
4,Commercial Space - downtown Oranjestad,Oranjestad,For Rent,NaN,NaN,"USD 2,584",NaN,NaN,NaN,https://www.casnan.com/listing/aruba/commercia...

In [4]:
data = data.dropna(subset = ['name'])

In [5]:
data = data.reset_index()

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            123 non-null    int64
 1   name             123 non-null    object
 2   location         123 non-null    object
 3   property_status  123 non-null    object
 4   property_type    0 non-null      float64
 5   property_size    0 non-null      float64
 6   price            123 non-null    object
 7   bedrooms         0 non-null      float64
 8   bathrooms        0 non-null      float64
 9   Pool             0 non-null      float64
 10  link             123 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 10.7+ KB

In [7]:
data.to_csv('data/casana.csv', header = True, index = False)